.categories__row {
  width: 100% !important;
}

.categories__row1 {
  z-index: 1111111;
  position: absolute;
  top: 50%;
}

.user__Avatar {
  display: flex;
  flex-direction: row;
  margin-left: 3px;
  cursor: pointer;
}

.user__Avatar > h3 {
  font-size: 14px;
  margin-left: 0.4rem;
  margin-top: 3px;
  color: rgb(41, 41, 41);
}

.specialBlocksCat__title {
  font-size: 13px;
  margin-top: 1rem;
  color: rgb(41, 41, 41);
  margin-left: 4px;
}

.categories__row2 {
  margin-top: 8rem;
}

.categories__row3 {
  margin-top: 2.7rem;
}

.categories__row4 {
  margin-top: 2.7rem;
}

.category {
  padding: 1rem 1.3rem;
}

/* .category:hover {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
} */

.categoty__title {
  margin-top: 0.5rem;
  font-size: 20px;
}

.category__image {
  width: 100%;
  height: 19.75rem;
  margin-top: 0.52rem;
  margin-bottom: 0.525rem;
  background-size: cover;
}

/* Category with Blocks Styling */

.categoryBlocks__row1,
.categoryBlocks__row2 {
  width: 100%;
  margin-bottom: 1rem;
}

.categoryBlocks__row2 {
  margin-bottom: 2.25rem;
}

.categoryBlocks__blocks {
  margin-top: 0.8rem;
}

.category__block {
  width: 50%;
  margin: 0 4px;
}

.category__block > h5 {
  font-size: 12.25px;
  font-weight: 300;
}

.blockImage__div {
  width: 95%;
  height: 7.2rem;
  background-size: cover;
  background-color: aqua;
}
