.hero {
  position: relative;
}

.slider img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.slider__controller {
  position: absolute !important;
  top: 30%;
}

.slider__controllerBack {
  left: 2.5rem;
}

.slider__controllerForw {
  right: 2.5rem;
}

.slider__arrows {
  height: 53px;
  display: none;
}

.slider__fade {
  height: 40vh;
  width: 100%;
  position: absolute;
  bottom: -2rem;
  z-index: 11;
  background-image: linear-gradient(transparent, rgb(224, 224, 224));
}
